

/* 		Mobile width < 740 px; */
@media screen and (max-width : 739px) {
	.phone-button {
		border-radius: 3rem !important;
		height: 3rem;
		width: 3rem;
	}
	.img-banner{
		height: 600px;
	}
	.phone {
		display: none;
	}

	.change-language {
		display: none;
	}
	  .nav-link {
		font-size: 0.5rem;
		font-weight: 350;

	}
	.footer{
		display: inherit;
		justify-content: center;
	}
	.details-news {
		margin-top: 50px;
		width: auto !important;
	}
	.container-form {
		height: 400px;
		width: 300px !important;
	}
	.download {
		width: 50px;
		height:30px;
		justify-content: inherit;
    	align-items: center;
	}
	.footer-row {
		display: block !important;
	}
	.about-social {
		justify-content: center !important;
	}
}
/* 		Tablet width >= 740 and width <1024px */
@media  screen and (min-width:740px) and (max-width:1023px) {
	.phone-button {
		border-radius: 3rem !important;
		height: 3rem;
		width: 3rem;
	}
	.img-banner{
		height: 700px;
	}
	.phone {
		display: none;
	}

	.change-language {
		display: none;
	}
	#branch-list li {
		width: calc(50% - 20px);
		justify-content: center;
	  }
	  .nav-link {
		font-size: 2rem !important;
		font-weight: 400 !important;
	}
	.details-news {
		width: 400px;
	}
	.container-form {
		height: 400px;
		width: 350px !important;
	}
	.footer-row {
		display: block !important;	
	}
	.about-social {
		justify-content: center !important;
	}
	.download {
		width: 50px;
		height:30px;
		justify-content: inherit;
    	align-items: center;
  
	}
}
/*		PC width => 1024px */
@media screen and (min-width:1024px){
	
	
	  .container-form {
		width: 450px !important;
		max-width: 300px !important;
		height: 500px;
	  }
	  .details-news {
		width: 600px !important;
	}
	.img-banner{
		height: 700px;
	}
}
.row >* {
	padding: 0;
	margin: 0;

}
.row{
	margin-left: auto !important;
}
#headerNavbar {
	color: rgb(7, 129, 170);
	font-size: 2rem !important;
	font-weight: 550 !important;

}
.btn-toogle{
	width: 30px;
	height: 30px;
}
.fa-bars {
	width: 30px;
	height: 30px;
}

.nav-link {
	font-size: 1.4rem !important;
	font-weight: 500 !important;
	padding-top: 0.5rem !important;
	padding-left: 3rem !important;
}

.navbar {
	padding: 1rem 4rem 1rem 4rem !important;
	height: 80px;
	background-color: #fff;

}
.navbar>.container {
	flex-wrap: nowrap !important;
}
.navbar li a {
	color: rgb(7, 129, 170) !important;
}

#navbarContent {
	justify-content: space-evenly !important;
}

.nav-item {
	display: inline-block;
	font-size: 1.5rem;
	color: rgb(7, 129, 170);
	text-decoration: none;
	font-weight: 450;
}

.group-button {
	font-size: 1.5rem;
	color: var(--white-color);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.phone-button {
	border-radius: 2rem;
	color: #2ca4e9;
	border: solid 1.2px transparent;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #2ca4e9, #a4cfec);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #fff inset;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 5px 15px 5px 15px;
	margin-right: 10px;
}

.phone-button:hover {
	box-shadow: none;
	color: white;
}

.vn-img {
	width: 30px;
	height: 30px;
	border-radius: 3rem;
}

.change-language {
	border: none;
	color: #095986;
	font-weight: 500;
}


.carousel-inner {
	width: 100%;
	position: relative;
}
.carousel-caption-content {
	position: absolute;
    border-radius: 1rem;
    bottom: 1.25rem;
    left: 10%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
	margin-bottom: 1.5rem;
    color: #fff;
    text-align: center;
	background-color: rgba(192,192,192,0.5);
	display: flex;
	justify-content: space-between;
	padding: 10px;
	max-width: 800px;
	width: auto;
}

#slides {
	position: relative;
	z-index: 1;
	display: flex;
}
.content {
	position: absolute;
	display: flex;
   	justify-content: space-around;
	   top: 50%;
   	left: 50%;
   	transform: translate(-50%, -50%);
}
.container-form {

	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.img-login {
	margin-bottom: 1.5rem;
}

.input-feild {
	border: 0.5 solid #a4cfec;
	border-radius: 3rem;
	width: 90%;
	height: 3rem;
	font-size: 1.4rem;
	margin-bottom: 10px;
	margin-left: 10px;
}

.col-news{
    align-self: flex-end;
}
.details-news{
	background: rgba(0,26,50,.81);
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    display: flex;

}
.text-news {
	width: 500px;
}
.btn-news{
	background-color: #8BC36b;
	border-radius: 2rem;
	border: 0 solid #8BC36b ;
	width: 100px;
	height: 30px;
	color: #fff;
}
.form-group label {
	font-weight: bold;
}

.btn-primary {
	width: 100%;
}
.footer{
	width: 100%;
	/* display: flex;
	justify-content: space-around; */
	
}
#branch-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	scroll-snap-type: both proximity;
	white-space: nowrap;
	overflow-x: scroll;
	width: 100%;
	margin-right: 10rem;
  }
  
#branch-list li {
	padding: 20px;
	margin-bottom: 20px;
	display: inline-block;
	list-style: none;
  	margin: 5px;
  	scroll-snap-align: center;
	width: 50px;
	height: auto;
  }
  
#branch-list li h3 {
	margin-top: 0;
  }
  
#branch-list li p {
	margin-bottom: 10px;
	font-size: 1rem;
	font-weight: 400;
  }

.btn-download{
	background-color: transparent;
	border-radius: 0.3rem;
	border: 0.5px solid rgb(193, 195, 197);
	width: 100px;
	height: 30px;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-around;
	
  }
.download {
	width: 100%;
	height:50%;
	display: flex;
}
.btn-download img {
	width: 30px;
	height: 20px;
	object-fit: cover;
}
.footer-row {
	display: flex;
	justify-content: space-between;
}

.about-social {
	margin-top: 10px;
}
.logo-item{
	display: flex;
    justify-content: center;
    align-items: center;
	margin-bottom: 2rem;
}
.logo-footer-img {
	border: none;
	width: 1.5rem;
	height: 1.5rem;
}
.btn-logo{
	background-color: transparent;
	border-radius: 1rem;
	border: none;
}

#branch-list::-webkit-scrollbar  {
    height: 0.5rem !important;
    background-color: #fcf9f9;
	
} 
#branch-list::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
	border-radius: 1rem;	
} 
